<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-img *ngIf="!register" class="logo" width="200px" height="200px" src="../../assets/imgs/logo.png" ion-img></ion-img>
  <ion-row>
    <ion-col>
      <ion-list inset>
        <ion-item [hidden]="!register">
          <ion-input placeholder="Nome" type="text" #nome></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Email" type="text" #mail></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Senha" type="password" #password></ion-input>
        </ion-item>
        <ion-item [hidden]="!register">
          <ion-input placeholder="Nascimento" type="date" #nasc></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button *ngIf="!register" ion-button class="buttons submit-btn" (click)="login(mail.value,password.value)" type="submit">Login
      </button>
      <button *ngIf="!register" ion-button color="danger" class="buttons" (click)="cancel()" type="submit">Cancelar
      </button>
      <button *ngIf="!register" ion-button class="buttons" (click)="register=true;" clear>Registrar</button>

      <button *ngIf="register" ion-button class="buttons submit-btn" (click)="registrar(mail.value, password.value, nome.value, nasc.value)" type="submit">Registrar
        </button>
      <button *ngIf="register" ion-button color="danger" class="buttons" (click)="cancel()" type="submit">Cancelar
        </button>
    </ion-col>
  </ion-row>
</ion-content>